<div class="container">
</br></br></br>
      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
          <div id="about">
          <img src="/travelblog/imgs/about/Ashley-and-Timm-downtown-Tampa-engagement-photos-132.jpg"></img>
          <h3 style="text-align:center;">Timm & Ashley Bischoff</h3>
          </div>
          <div id="about_text" class="jumbotron">  
          <p>We are two simple people trying to experience daily joy and a little adventure. 
          We have always wanted to share the things we do with our friends and family, 
          encouraging them to experience the goodness of God in everyday life. Using Ashley's powerful programming mind and my 
          unsophisticated, simple writing style, we hope that you are blessed by our little adventures; and whenever you have time, 
          maybe join a few of them too.</p>
          </div>  
      </div><!--/col-->     
	</div>
	 <h2 style="text-align:center;">Where should we go next?</h2>
      <h3 style="text-align:center;">Leave your suggestions below!</h3>
      <div style="margin-left:10%;" class="fb-comments" data-href="http://localhost:8080/travelblog/#/about" data-width="900" data-numposts="5"></div>
 </div>