<div class="container" ng-controller="iceland-blog">
</br></br></br>
  <div id="jumbotron-colorado" class="jumbotron">
        <h1 style="text-align:right;color:whitesmoke;"">Colorado</h1>
        
  </div>
  <br><br>
    <ul id="colorado-nav-tabs" class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home" target="_self">Denver</a></li>
    <li><a data-toggle="tab" href="#menu1" target="_self">Colorado Springs</a></li>
    <li><a data-toggle="tab" href="#menu2" target="_self">Unexpected Findings</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Downtown Denver</h3>
      <p> Downtown Denver was a lot like other cities in my opinon. Though I loved all the colorful pianos they had in the streets.
      You can find a lot of art on the walls and around the area. We walked around Main Street, took the free shuttle to the Capital 
      Building staircase where you can stand at exactly 1 mile high. If you are hungry, grab a bite to eat at Avanti Food & Beverage. They
      offer a variety of local and fresh food from local restaurants.</p>
      <div class="row">
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/denver/DSC_0354.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/denver/DSC_0358.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/denver/DSC_0359.JPG" ></img>
    	</div>
  	  </div><!-- row --> 
      <h3>Estes Park</h3>
      <p>Estes Park is a must see - a short drive outside of Denver. We took a hike that lead us to three lakes: Nmyp Lake, Dream Lake and
       Emerald Lake. After we took a short trip to see Alberta falls. The lakes are quiet and beautiful. There was still snow on the ground
      in July. The hike to Emerald Lake it took us about 4 hours round trip (Though we stopped a good bit and looked around). We brought snacks and water on the hike and enjoyed the 
      little chipmunks. Also, we kept our eyes in the trees and got to see some Elk as well! Make sure you get there early so you get
      a spot in the park and don't have to take any shuttle buses (They are brutal!)</p>
      <div class="row">
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/EstesPark/DSC_0040.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/EstesPark/DSC_0073.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/EstesPark/DSC_0153.JPG" ></img>
    	</div>
  	  </div><!-- row --><br></br>
  	  <div class="row">
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/EstesPark/DSC_0143.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/EstesPark/DSC_0162.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/EstesPark/DSC_0206.JPG" ></img>
    	</div>
  	  </div><!-- row --><br></br>
  	  <div class="row">
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/EstesPark/DSC_0069.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/EstesPark/DSC_0076.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/EstesPark/DSC_0110.JPG" ></img>
    	</div>
  	  </div><!-- row -->
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Garden of the Gods</h3>
      <p>Garden of the Gods is known for there amazing rock formations. It was a nice change in scenery from the
      green and snow capped mountains to the desert orange rocks.</p>
      <div class="row">
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/gardenofthegods/DSC_0276.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/gardenofthegods/DSC_0277.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/gardenofthegods/DSC_0302.JPG" ></img>
    	</div>
  	  </div><!-- row -->
  	  <h3>Manitou Incline</h3>
  	  <p>This was probably the hardest hike I have ever done! The extreme hike is 1 mile long with an elevation gain
  	  of 2,000 feet. Even better, going up is all mismatched stairs. Make sure you bring a snack and plenty of water (there's no water
  	  at the top, just a breaktaking view...literally!) It took us about a an hour and 45 minutes to get to the top, with plenty
  	  of breaks. If your not up for a challenge coming down, make sure you cut to the left once up there and you can take a 4 mile
  	  trail down the incline besides those menacing steps!</p>
      <div class="row">
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:520px;width:380px;" src="/travelblog/imgs/colorado/ManitouIncline/DSC_0331.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:520px;width:380px;" src="/travelblog/imgs/colorado/ManitouIncline/DSC_0332.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:520px;width:380px;" src="/travelblog/imgs/colorado/ManitouIncline/DSC_0342.JPG" ></img>
    	</div>
  	  </div><!-- row -->
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Flowers</h3>
  	  <p>One of the most unexpected and most beautiful things we saw in Colorado would have to be the flowers! There was endless
  	  variety of colors in the fields and in the cities!</p>
      <div class="row">
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/flowers/DSC_0217.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/flowers/DSC_0250.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/flowers/DSC_0257.JPG" ></img>
    	</div>
  	  </div><!-- row --><br></br>
  	     <div class="row">
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/flowers/IMG_0533.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/flowers/IMG_0552.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/flowers/IMG_0561.JPG" ></img>
    	</div>
  	  </div><!-- row --><br></br>
  	   <div class="row">
    	<div class="col-md-4">
          		<img  class="rounded" style="height:520px;width:380px;" src="/travelblog/imgs/colorado/flowers/IMG_0556.JPG" ></img>
    	</div>
    	<div class="col-md-4">
          		<img  class="rounded" style="height:520px;width:380px;" src="/travelblog/imgs/colorado/flowers/IMG_0530.JPG" ></img>
    	</div>
    	<div class="col-md-4">
          		<img  class="rounded" style="height:520px;width:380px;" src="/travelblog/imgs/colorado/flowers/IMG_0555.JPG" ></img>
    	</div>
  	  </div><!-- row --><br></br>
  	   <div class="row">
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/flowers/DSC_0316.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/flowers/DSC_0264.JPG" ></img>
    	</div>
    	<div class="col-sm-4">
          		<img  class="rounded" style="height:300px;width:380px;" src="/travelblog/imgs/colorado/flowers/IMG_0554.JPG" ></img>
    	</div>
  	  </div><!-- row -->
    </div>
  </div><br><br>
</div>     



