<div class="container" >
</br></br></br>
  <div id="jumbotron-iceland" tabindex="0" class="jumbotron">
        <h1 style="text-align:right;color:whitesmoke;"">Iceland</h1>
  </div>
          <blockquote>Not even 24 hours after tying the knot, Ashley and I packed our suitcases, drove to Orlando and caught a plane to a not so 
        remote destination. Not making the best of decisions, we decided to eat Burger King  right before our 7 hour flight through the 
        night. Only getting 3 or 4 hours of sleep because 
  			<p>(a) We were still anxious and excited about the whole marriage thing </p>
  			<p>(b) Iceland</p>
  			<p>(c) Sleeping on a plane is not the easiest of things </p>
  		Nervertheless, we finally made it, and I couldn't resist taking in the freshest, 
        cleanest air I had ever breathed. Not wanting to hog all the air, I told Ashley to take a deep breath herself. The moment 
        she took that unforgettable breath in, the nice diesel truck that dropped us off at the terminal chugged away. In went the 
        diesel exhaust, and out came the Burger King.
        Luckily, the only person that saw what happened was an air traffic control guy 
        who looked at us in disbelief. 
        <span class="lead">All he could do was shake his head, and all I could do was wait for him to say <strong>"Welcome to Iceland".</strong></span>
        </blockquote>
  <br><br>
    <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home" target="_self">Reykjavik</a></li>
    <li><a data-toggle="tab" href="#menu1" target="_self">Akureyri</a></li>
    <li><a data-toggle="tab" href="#menu2" target="_self">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3" target="_self">Menu 3</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>Blue Lagoon</h3>
      <p>There's no better way to recover from the airport grogginess then going to Iceland's Blue Lagoon Spa!
      It was the first thing we drove to after we landed.</p>
      <h3>Golden Circle</h3>
      <p>There's no better way to recover from the airport grogginess then going to Iceland's Blue Lagoon Spa!
      It was the first thing we drove to after we landed.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div><br><br>
  
  <div class="row">
			<div class="col-sm-4">
				<div class="center-block">
          			<img class="img-reponsive" src="/travelblog/imgs/iceland/iceland10.jpg" >
          		</div>
      		</div>
  </div>	<!-- row -->
</div>     



