<div class="container">
</br></br></br>
	<blockquote style="background-color:#b30059; color:white;" class="blockquote-reverse">
		<p>Let me give you a new command: Love one another. In the same way I love you, 
  	you should love each other. This is how everyone will recognize that you are my disciples, when they see the love you 
  	have for each other.</p> 
  	<footer>John 13:34-35</footer>
  
	</blockquote>
  <blockquote><span class="h2">The Morning of March 25th 2017. </span><span class="lead">A beautiful sunny day filled with excitement and anxiety.</span> While Ashley was at the Innisbrook resort getting ready with her army of women and five little nephews and nieces, I myself was quite the eventful morning. Walking up to our getaway van, our trusty 1973 cruiser smelled of fresh gasoline and burned rubber. Just 24 hours before, I gave Bubba the Bus a nice bath wash and drove him around and nothing seemed to be wrong.</blockquote>
  <div class="row">
			<div class="col-sm-4 thumbnail">
          		<img class="img-reponsive" src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-20.jpg" >
      		</div>
      		<div class="col-lg-4 thumbnail">
          		<img class="img-reponsive" src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-37.jpg" >
      		</div>
      		<div class="col-lg-4 thumbnail">
          		<img  class="img-reponsive" src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-72.jpg">
      		</div>
  </div>	<!-- row -->


	
  <blockquote><span class="lead">Well, it wouldn't be an exciting action packed day without something needing to be fixed with the ole VW.</span> Not having any tools at our new unfurnished apartment, my only option was to risk the drive to my parents and fix the gas leak and maybe the run down tires there. Sure enough I made it to my rents; and my father, brother, and uncle were ready to assist. While emptying out the whole gas tank in several one gallon buckets, my dad was on his way to the auto store to get the new tubing and filters. Couple hours later the leak was fixed and and Bubba had a full belly once again. Even though the tires were run down to the fibers, there was no way of getting new tires only a couple hours before <span class="h3">"I Do"</span>. There was no reason to worry my soon to be wife, so that would be would be my little secret until we would be safely at home.</blockquote><!-- wells -->
	<div class="row">
		<div class="center-block">
			<div class="col-sm-3">
	         <p></p>
			</div><!-- col-lg-6 -->
			<div class="col-sm-3">
	          		<img  class="img-responsive" src="/travelblog/imgs/wedding/IMG_4528.JPG" >
			</div><!-- col-lg-6 -->
			<div class="col-sm-3">
	          		<img class="img-responsive" src="/travelblog/imgs/wedding/IMG_4530.JPG" >
			</div><!-- col-lg-6 -->
			<div class="col-sm-3">
	         <p></p>
			</div><!-- col-lg-6 -->
			
		</div>
	</div>	<!-- row -->
	
	<blockquote>
	<span class="h2">The Evening of March 25th 2017.</span>Walking into a room full of loved ones with all eyes on you may be one of the most heart wrenching and emotional moments in someone's life. For me at least, it was an unimaginable experience that I couldn't have grasped even with the warnings before. <span class="lead">But then in an instant you're standing there in the stillness of the room, just waiting for the needle to hit the ground and shatter like fine china. </span>You don't know if this is a real or surreal moment in time. Then your woman walks in, not having talked to her or held her all day, all you want to do is run up, grab her and ditch the party. <span class="h3">But you stand there frozen,</span> because you've lost your breath, and now you can see your reflection in her eyes and you see yourself in her.  
	</blockquote>
	<div class="row">
		<div class="col-sm-6">
			<div class="thumbnail">
          		<img  src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-238.jpg" >
      		</div>
		</div><!-- col-lg-6 -->	
		<div class="col-sm-6">
			<div class="thumbnail">
          		<img src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-267.jpg" >
      		</div>
		</div><!-- col-lg-6 -->
	</div>	<!-- row -->
	<div class="row">
		<div class="col-sm-6">
			<div class="thumbnail">
          		<img src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-266.jpg" >
      		</div>
		</div><!-- col-lg-6 -->
		<div class="col-sm-6">
			<div class="thumbnail">
          		<img src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-284.jpg" >
      		</div>
		</div><!-- col-lg-6 -->
	</div>
	<blockquote>
	<span class="h2">You're overwhelmed</span>, and the spirit of God falls over you both like a blanket of cool water, splashing around the room making the place where you are standing Holy ground. <span class="h3">What feels like only seconds later you lay a sloppy wet kiss on your bride and everyone cheers at the newly introduced Mr. & Ms. Bischoff.</span> 
	</blockquote>

    <div class="row">
     <div class="col-lg-4">
      <div class="thumbnail"style="padding-top:40%;border:none;">
        <a href="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-322.jpg" target="_blank">
          <img class="wedding1" src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-322.jpg">
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <a href="/travelblog/imgs/wedding2.jpg"" target="_blank">
          <img class="wedding1" src="/travelblog/imgs/wedding2.jpg" >
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="thumbnail" style="padding-top:40%; border:none;">
        <a href="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-329.jpg" target="_blank">
          <img src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-329.jpg" alt="Chapel">
        </a>
      </div>
    </div>

    </div> <!-- row -->
    <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/travelblog/imgs/wedding3.jpg" target="_blank">
          <img src="/travelblog/imgs/wedding3.jpg" alt="Fjords" >
        </a>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="thumbnail">
        <a href="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-456.jpg" target="_blank">
          <img src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-456.jpg" alt="Fjords" >
        </a>
      </div>
    </div>
     </div><!-- row -->
     <div class="row">
    <div class="col-lg-8">
      <div class="thumbnail">
        <a href="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-444.jpg" target="_blank">
          <img src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-444.jpg" alt="Fjords" >
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-474.jpg" target="_blank">
          <img src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-474.jpg" alt="Fjords" >
        </a>
      </div>
    </div>
	</div>
  <div class="row">
        <div class="col-md-6">
      <div class="thumbnail">
        <a href="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-481.jpg" target="_blank">
          <img src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-481.jpg" alt="Fjords">
        </a>
      </div>
    </div>
        <div class="col-md-6">
      <div class="thumbnail">
        <a href="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-473.jpg" target="_blank">
          <img src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-473.jpg" alt="Fjords">
        </a>
      </div>
    </div>
    </div><!-- row -->
    <div class="row">
        <div class="col-md-4">
      <div class="thumbnail">
        <a href="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-436.jpg" target="_blank">
          <img src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-436.jpg" alt="Fjords">
        </a>
      </div>
    </div>
     <div class="col-lg-8">
      <div class="thumbnail">
        <a href="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-465.jpg" target="_blank">
          <img src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-465.jpg" alt="Fjords">
        </a>
      </div>
    </div>
    </div><!-- row -->
    <div class="row">
      <div class="col-md-6">
      <div class="thumbnail">
        <a href="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-532.jpg" target="_blank">
          <img src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-532.jpg" alt="Fjords">
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="thumbnail">
        <a href="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-729.jpg" target="_blank">
          <img src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-729.jpg" alt="Fjords">
        </a>
      </div>
    </div>
    </div><!-- row -->
    <div class="row">
    <div class="col-md-12">
      <div class="thumbnail">
        <a href="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-849.jpg" target="_blank">
          <img src="/travelblog/imgs/wedding/3.25.17-White-Chapel-Wedding-Ashley&Timm-849.jpg" alt="Fjords">
        </a>
      </div>
    </div>  
  </div><!-- row -->

  </div>

     



